body{ font-family: "Mattone", sans-serif; }

.container {
  width: calc(100% - 30px);
  max-width: $container-max;
  margin: 0 auto;

  &.container--fluid{ width: 100%; }
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &.column { flex-direction: column; }

  &.justify-center { justify-content: center; }
  &.justify-around { justify-content: space-around; }
  &.justify-evenly { justify-content: space-evenly; }
  &.justify-between { justify-content: space-between; }

  &.align-center { align-items: center; }
  &.align-start { align-items: flex-start; }
  &.align-end { align-items: flex-end; }
}

.center {
  text-align: center;
}