/* Fonts*/
$base-font: 16px;

/* Colors*/
$white: #FFF;
$black: #000;

/* Grid breakpoints */
$sm: 600px;   // Mobile + TVs
$md: 900px;   // Tablet
$lg: 1200px;  // Desktop

$container-max: 1280px;
$row-spacing: 50px;

$container-max: 1280px;
$total_col: 13;
$gutter: 15;

